---
layout: default
---

<div class="recipe-card">
  <article>
    <h2>
      {{page.title}}
      <small class="title-date">{{page.date | date: "%d-%b-%Y"}}</small>
    </h2>
    <div class="page-meta">
      {% if page.categories %}
      <strong>Categories:</strong>
      {% for cat in page.categories %}
      <a href="{{site.baseurl}}/category/{{cat}}/">{{cat}}</a>
      {% endfor %}
      {% endif %}
      {% if page.tags %}
      <strong>Tags:</strong>
      {% for tag in page.tags %}
      <a href="{{site.baseurl}}/tag/{{tag}}/">{{tag}}</a>
      {% endfor %}
      {% endif %}
    </div>
    {{content}}
  </article>

  {% if page.external_url %}
  <section id="source">
    <strong>Source:</strong>
    <a href="{{page.external_url}}">{{page.external_url}}</a>
  </section>
  {% else %}
  {% if page.source %}
  <section id="source">
    <strong>Source:</strong>
    <a href="{{page.source}}">{{page.source}}</a>
  </section>
  {% endif %}
  {% endif %}

</div>
