// Main.scss -- imports all the other bits of sass/scss to compile to /assets/css/main.css
// ------------------------------------------------------------------------------------------

@import "my_variables";
@import "bootstrap";
@import "font-awesome";

// Local style variations
// ------------------------------

body {
    padding: 70px 0;
}

.post-index-title {
    white-space: nowrap;
    height: ceil(($font-size-h3 * 1.6));
    overflow: hidden;
}
.post-excerpt {
    margin: 0 0 10px 0;
    padding: 0;
    height: 100px;
    overflow-y: hidden;
}

.post-meta {
    font-size: 80%;
    white-space: nowrap;
    overflow-x: hidden;
    overflow-y: hidden;
}

p.img-responsive > img {
    @extend .img-responsive;
}