body {
  padding: 70px 0; }

.post-index-title {
  white-space: nowrap;
  height: 36px;
  overflow: hidden; }

.post-excerpt {
  margin: 0 0 10px;
  padding: 0;
  height: 100px;
  overflow-y: hidden; }

.post-meta {
  font-size: 80%;
  white-space: nowrap;
  overflow-x: hidden;
  overflow-y: hidden; }
