<header class="page-header">
  <nav class="navbar flex-space-between flex-row" role="navigation">
    <div class="navbrand">
      <div>
	      <a href="{{ site.baseurl}}/">
	        <img src="{{site.baseurl}}/img/logo-01.gif" width="30" height="auto" class="brand-logo"/>
	      </a>
      </div>
      <h1>
	      <a href="{{ site.baseurl}}/">
	        {% if site.title %}{{site.title}}{% else %}New Site{% endif %}
	      </a>
      </h1>
    </div>
    <div class="navmenu">
      {% for page in site.pages %}{% if page.navbar %}
      <div><a href="{{ page.url | prepend: site.baseurl}}">{{page.title}}</a></div>
      {% endif %}{% endfor %}
      <div><a href="{{ "/tag/gluten-free" | prepend: site.baseurl }}">Gluten Free</a></div>
      <div><a href="{{ "/tag/instant-pot" | prepend: site.baseurl }}">Instant Pot</a></div>
    </div>
  </nav>
</header>
