---
layout: default
---

<article>
<div class="page-header">
  <h2>
    {{page.title}}
    <small>{{page.date | date: "%d-%b-%Y"}}</small>
  </h2>
  <div class="page-meta">
    |
    {% if page.categories %}<small>Categories: {{page.categories | join: ", "}}</small> | {% endif %}
    {% if page.tags %}<small>Tags: {{ page.tags | join: ", " }}</small>{% endif %}
    |
  </div>
</div>
{{content}}
</article>

{% if page.external_url %}
<section id="source">
  <strong>Source:</strong>
  <a href="{{page.external_url}}">{{page.external_url}}</a>
</section>
{% else %}
{% if page.source %}
<section id="source">
  <strong>Source:</strong>
  <a href="{{page.source}}">{{page.source}}</a>
</section>
{% endif %}
{% endif %}
